@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: Pretendard;
  font-weight: 400;
  src:
    local('Pretendard Regular'),
    url('/fonts/Pretendard/Pretendard-Regular.woff') format('woff'),
    url('/fonts/Pretendard/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 500;
  src:
    local('Pretendard Medium'),
    url('/fonts/Pretendard/Pretendard-Medium.woff') format('woff'),
    url('/fonts/Pretendard/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 600;
  src:
    local('Pretendard SemiBold'),
    url('/fonts/Pretendard/Pretendard-SemiBold.woff') format('woff'),
    url('/fonts/Pretendard/Pretendard-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  src:
    local('Pretendard Bold'),
    url('/fonts/Pretendard/Pretendard-Bold.woff') format('woff'),
    url('/fonts/Pretendard/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 800;
  src:
    local('Pretendard ExtraBold'),
    url('/fonts/Pretendard/Pretendard-ExtraBold.woff') format('woff'),
    url('/fonts/Pretendard/Pretendard-ExtraBold.woff2') format('woff2');
}
